.sub-title {
    background: #ffffff;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    margin: 0;
    width: 99%!important;
    opacity: 1;
    display: block;
}