/* .sidebox {
  width: 5rem !important;
  height: 2rem;
  background-color: #303031;
} */
/* .placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
} */
/* 遮罩层 */
.am-drawer-overlay{
  position: fixed;
  display: block;
  z-index: 3;
}
/* 抽屉 */
.my-drawer {
  /* 修改定位会导致触发点击事件的位置改变，造成点击左上角时抽屉不出现 */
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* 抽屉 */
.my-drawer .am-drawer-sidebar {
  position: fixed;
  background-color: #303031;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* .my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
} */
.am-drawer.am-drawer-left .am-drawer-draghandle {
  width: 0;
}
.am-drawer-sidebar {
  width: 6.375rem;
  height: 100%;
}
/* 顶部标题 */
.am-navbar-title {
  font-size: 18px;
}
/* 导航列表 */
.am-list-item .am-list-line {
  align-self: unset;
}
/* 消除导航列表边线 */
.am-list-body{
  background: none;
}
.my-drawer ul li,.texttop{
  height: 45px;
  background-color: #303031;
  font-size: 15px;
  color: #ffffff;
}
.my-drawer ul li img{
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.texttop{
  display: block;
  padding: 0.281rem;
  padding-left: 1.875rem;
  height: 1.687rem;
}
.texttop .user{
  display: block;
  margin-left: -1.31rem;
  float: left;
  width: 1.125rem;
  height: 1.125rem;
  background: url('../../data/HomeData/list/user.png') no-repeat 0 0/1.125rem;
}
.texttop .usertext{
  display: block;
  height: 1.125rem;
  line-height: 1.125rem;
}
.my-drawer ul li{
  padding: 0 30px;
  height: 45px;
}
.my-drawer ul li a{
  text-decoration: none;
  color: #ffffff;
}

/* 底部下载链接 */
.listfooter{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 100%;
}
.listfooter a{
  display: block;
  margin-left: 30px;
  padding: 5px 0 8px;
  height: 36px;
  border-top: 1px solid #282829;
  line-height: 36px;
  /* text-align: right; */
  vertical-align: middle;
}
.listfooter img{
  display: inline-block;
  height: 36px;
}
.listfooter a go-icon{
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-right: 20px;
}
/* .listfooterImg{
  display: block;
  margin-left: 30px;
  padding: 5px 0 8px;
  background-size: auto 36px;
  height: 36px;
  border-top: 1px solid #282829;
  line-height: 36px;
  text-align: right;
  background: url('../../data/HomeData/list/download.png') no-repeat left center;
} */