/* .sidebox {
  width: 5rem !important;
  height: 2rem;
  background-color: #303031;
} */
/* .placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
} */
/* 遮罩层 */
.am-drawer-overlay{
  display: block;
  z-index: 4;
}
/* 抽屉 */
.my-drawer {
  /* 修改定位会导致触发点击事件的位置改变，造成点击左上角时抽屉不出现 */
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* .my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
} */
.am-drawer.am-drawer-left .am-drawer-draghandle {
  width: 0;
}
.am-drawer-sidebar {
  width: 6.375rem;
}
.am-navbar-title {
  font-size: 18px;
}
.am-list-item .am-list-line {
  align-self: unset;
}
.my-drawer .am-drawer-sidebar {
  background-color: #303031;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer ul li,.texttop{
  height: 45px;
  background-color: #303031;
  font-size: 15px;
  color: #ffffff;
}
.texttop{
  display: block;
  padding: 0.281rem;
  padding-left: 1.875rem;
  height: 1.687rem;
}
.texttop .user{
  display: block;
  margin-left: -1.31rem;
  float: left;
  width: 1.125rem;
  height: 1.125rem;
  background: url('../../data/HomeData/list/user.png') no-repeat 0 0/1.125rem;
}
.texttop .usertext{
  display: block;
  height: 1.125rem;
  line-height: 1.125rem;
}
.my-drawer ul li{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.843rem;
  color: #fff;
  font-size: 15px;
}

/* 底部下载链接 */
.listfooter{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 100%;
  background: #303031;
}
.listfooterImg{
  display: block;
  margin-left: 30px;
  padding: 5px 0 8px;
  background-size: auto 36px;
  height: 36px;
  border-top: 1px solid #282829;
  line-height: 36px;
  text-align: right;
  background: url('../../data/HomeData/list/downloaad.png') no-repeat left center;
}